<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBXYG17oCv9JFTKmAijla5D5Xjt7al5gHY</string>
	<key>GCM_SENDER_ID</key>
	<string>292802753132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.usersApp</string>
	<key>PROJECT_ID</key>
	<string>uber-clone-flutter-2806d</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-clone-flutter-2806d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:292802753132:ios:0d98b9a1fa628dbc00de49</string>
</dict>
</plist>